.projects {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project a .title {
  display: block;
  font-size: 1.35rem;
  font-weight: bold;
}

.project a {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background: white;
  border-radius: 12px;
  padding: 12px;
  transition: box-shadow 0.2s ease-in-out;
}

@media screen and (min-width: 480px) {
  .project a {
    flex-wrap: nowrap;
  }
}

.project a:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.project a img {
  display: block;
  max-width: 100%;
  border-radius: 12px;
}

@media screen and (min-width: 480px) {
  .project a img {
    max-width: 180px;
  }
}
