.footer {
  padding: 30px 0;
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
}

.section {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--color-line);
  padding-top: 30px;
}
