:root {
  --color-primary: #3a3a3a;
  --color-footer-text: #555555;
  --color-link: #3a3a3a;
  --color-purple-1: #502bd8;
  --color-purple-2: #6749d1;
  --color-footer-bg: #fafafa;
  --color-main-bg: #fafafa;
  --color-line: rgb(209, 209, 209);
  --color-footer-heart: #d80101;
  --color-button-primary-bg: #502bd8;
  --color-button-primary-text: white;
  --color-button-primary-bg--hover: #6749d1;
  --font-size-base: 16px;
  --page-width-footer: 800px;
  --page-width-header: 1000px;
  --page-width-main: 800px;

  --color-label-text-light: rgba(255, 255, 255, 0.9);
  --color-label-text-dark: rgba(0, 0, 0, 0.65);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-lato);
  color: var(--color-primary);
  font-size: var(--font-size-base);
}

header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  color: var(--color-link);
}

p {
  line-height: 1.5;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 560px) {
  .group {
    flex-direction: row;
    gap: 48px;
  }
}

.left,
.right {
  flex: 1;
}

.left {
  order: 2;
}
.right {
  order: 1;
}
.right img {
  max-width: 200px;
}

@media screen and (min-width: 560px) {
  .left {
    order: 1;
  }
  .right {
    order: 2;
  }
  .right img {
    max-width: 300px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-main-bg);
}

.section {
  max-width: var(--page-width-main);
  width: 100%;
  padding: 48px 12px;
}

h1,
h2,
h3 {
  margin-top: 0;
}
